<div class="wrapper-high">
<p><%= comment.body %></p>
<p>Written by: <%= comment.user.username %></p>
<p><%= link_to "Delete", [comment.post, comment], data: { confirm: "Are you sure?"}, method: :delete %></p>
</div>