<div class="wrapper">

	<% if session[:user_id] %>
		<h1>Hello User No. <%= session[:user_id] %>-198470!</h1>
		<h2>DO NOT BE AFRAID AND START POSTING STUFF HERE</h2>
		<h3>WE ARE NOT SPYING ON YOU</h3>
		<h3>TRUST US</h3>
		<h5>TRUST US</h5>
		<h6>TRUST US</h6>
		<i class="fa fa-user-secret"></i>

	<% else %>
		<h1>WELCOME</h1>

		<h2>This is literally a <strong style="color:red" >micro</strong> website testing the <br> usage of <strong style="color:red" > ruby </strong> on <strong style="color:red" > rails </strong></h2> 
	<% end %>

	<h3><%= flash[:loggedout] if flash[:loggedout] %></h3>
	<h3><%= flash[:loggedin] if flash[:loggedin] %></h3>
</div>


